#full-labyrinth { 
    position: fixed;
    z-index: 0;
    width: 227px;
    height: 251px;
    background: url(./Images/spritesheet.png) 0 0;
}

#small-pacman-full-circle {
    position: absolute;
    z-index: 10;
    top: 188.5px;
    left: 113px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -488px 0;
}

#small-pacman-turned-right-mouth-wide-open {
    position: absolute;
    z-index: 10;
    top: 188.5px;
    left: 113px;
    width: 12px;
    height: 15px;
    background: url(./Images/spritesheet.png) -456px 0;
}

#small-pacman-turned-right-mouth-slightly-open {
    position: absolute;
    z-index: 10;
    top: 188.5px;
    left: 113px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -472px 0;
}

#small-pacman-turned-left-mouth-wide-open { 
    position: absolute;
    z-index: 10;
    top: 188.5px;
    left: 113px;
    width: 16px;
    height: 15px;
    background: url(./Images/spritesheet.png) -456px -16px;
}

#small-pacman-turned-left-mouth-slightly-open { 
    position: absolute;
    z-index: 10;
    top: 188.5px;
    left: 113px;
    width: 16px;
    height: 15px;
    background: url(./Images/spritesheet.png) -472px -16px;
}

#small-pacman-turned-upside-down-mouth-wide-open { 
    position: absolute;
    z-index: 10;
    top: 188.5px;
    left: 113px;
    width: 17px;
    height: 15px;
    background: url(./Images/spritesheet.png) -455px -33px;
}

#small-pacman-turned-upside-down-mouth-slightly-open { 
    position: absolute;
    z-index: 10;
    top: 188.5px;
    left: 113px;
    width: 17px;
    height: 15px;
    background: url(./Images/spritesheet.png) -471px -32px;
}

#small-pacman-turned-upright-mouth-wide-open { 
    position: absolute;
    z-index: 10;
    top: 188.5px;
    left: 113px;
    width: 17px;
    height: 15px;
    background: url(./Images/spritesheet.png) -455px -47px;
}

#small-pacman-turned-upright-mouth-slightly-open { 
    position: absolute;
    z-index: 10;
    top: 188.5px;
    left: 113px;
    width: 17px;
    height: 15px;
    background: url(./Images/spritesheet.png) -471px -47px;
}

#red-monster-looking-to-the-right-1 { 
    position: absolute;
    z-index: 20;
    top: 92.5px;
    left: 111px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -456.3px -64px;
}

#red-monster-looking-to-the-right-2 {
    position: absolute;
    z-index: 20; 
    top: 92.5px;
    left: 111px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -472.3px -64px;
}

#red-monster-looking-to-the-left-1 { 
    position: absolute;
    z-index: 20;
    top: 92.5px;
    left: 111px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -488.3px -64px;
}

#red-monster-looking-to-the-left-2 { 
    position: absolute;
    z-index: 20;
    top: 92.5px;
    left: 111px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -504.3px -64px;
}

#red-monster-looking-up-1 { 
    position: absolute;
    z-index: 20;
    top: 92.5px;
    left: 111px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -520.3px -64.4px;
}

#red-monster-looking-up-2 { 
    position: absolute;
    z-index: 20;
    top: 92.5px;
    left: 111px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -536.3px -64.4px;
}

#red-monster-looking-down-1 { 
    position: absolute;
    z-index: 20;
    top: 92.5px;
    left: 111px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -552.3px -64.4px;
}

#red-monster-looking-down-2 { 
    position: absolute;
    z-index: 20;
    top: 92.5px;
    left: 111px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -568.3px -64.4px;
}

.empty-blue-space {
    position: absolute;
    z-index: -10;
    width: 10px;
    height: 10px;
    background: url(./Images/spritesheet.png) -250px -64px;
}

#left-up {
    top: 31px;
    left: 15px;
}

#right-up {
    top: 31px;
    left: 215px;
}

#left-down {
    top: 191px;
    left: 15px;
}

#right-down {
    top: 191px;
    left: 215px;
}

#cyan-monster-looking-to-the-right-1 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 97px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -456.3px -96.4px;
}

#cyan-monster-looking-to-the-right-2 {
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 97px; 
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -472.3px -96.4px;
}

#cyan-monster-looking-to-the-left-1 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 97px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -488.3px -96.4px;
}

#cyan-monster-looking-to-the-left-2 {
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 97px; 
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -504.3px -96.4px;
}

#cyan-monster-looking-up-1 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 97px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -520.3px -96.4px;
}

#cyan-monster-looking-up-2 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 97px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -536.3px -96.4px;
}

#cyan-monster-looking-down-1 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 97px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -552.3px -96.4px;
}

#cyan-monster-looking-down-2 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 97px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -568.3px -96.4px;
}

#pink-monster-looking-to-the-right-1 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 112.7px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -456.3px -80.7px;
}

#pink-monster-looking-to-the-right-2 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 112.7px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -472.3px -80.7px;
}

#pink-monster-looking-to-the-left-1 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 112.7px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -488.3px -80.7px;
}

#pink-monster-looking-to-the-left-2 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 112.7px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -504.3px -80.7px;
}

#pink-monster-looking-up-1 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 112.7px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -520.3px -80.7px;
}

#pink-monster-looking-up-2 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 112.7px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -536.3px -80.7px;
}

#pink-monster-looking-down-1 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 112.7px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -552.3px -80.7px;
}

#pink-monster-looking-down-2 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 112.7px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -568.3px -80.7px;
}

#orange-monster-looking-to-the-right-1 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 128.5px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -456.3px -112.7px;
}

#orange-monster-looking-to-the-right-2 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 128.5px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -472.3px -112.7px;
}

#orange-monster-looking-to-the-left-1 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 128.5px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -488.3px -112.7px;
}

#orange-monster-looking-to-the-left-2 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 128.5px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -504.3px -112.7px;
}

#orange-monster-looking-up-1 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 128.5px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -520.3px -112.7px;
}

#orange-monster-looking-up-2 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 128.5px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -536.3px -112.7px;
}

#orange-monster-looking-down-1 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 128.5px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -552.3px -112.7px;
}

#orange-monster-looking-down-2 { 
    position: absolute;
    z-index: 20;
    top: 116.5px;
    left: 128.5px;
    width: 15px;
    height: 15px;
    background: url(./Images/spritesheet.png) -568.3px -112.7px;
}